<footer class="main-footer">
	<div class="main-footer__container container">
		<section class="about-us">
			<section class="made-in">
				<h5 class="made-in__title main-footer__heading">Lampadari Mage In Italy</h5>
				<p class="made-in__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  </p>
			</section>
			<section class="our-work">
				<h5 class="our-work__title main-footer__heading">Lampadari Artigianali</h5>
				<p class="our-work__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
			</section>
			<section class="our-experience">
				<h5 class="our-experience__title main-footer__heading">45 Anni Di Esperienza</h5>
				<p class="our-experience__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
			</section>
			<section class="subscribe">
				<h5 class="subscribe__title main-footer__heading">Newsletter</h5>
				<form action="#" method="post" class="subscribe-form">
					<ul class="subscribe-form__list">
						<li class="subscribe-form__item subscribe-form__name">
							<input type="text" class="subscribe-form__name-input" placeholder="Name e Cogrome">
						</li>
						<li class="subscribe-form__item subscribe-form__email">
							<input type="email" class="subscribe-form__email-input" placeholder="Email">
						</li>
						<li class="subscribe-form__item subscribe-form__confirm">
							<input type="checkbox" class="subscribe-form__confirm-checkbox" id="subscribeConfirm">
							<label for="subscribeConfirm" class="subscribe-form__confirm-label">Acconsento al trattamento dei dati</label>
						</li>
						<li class="subscribe-form__item subscribe-form__submit">
							<input type="submit" class="subscribe-form__submit-button" value="Iscriviti">
						</li>
					</ul>
				</form>
			</section>
		</section>
		<section class="additional-info">
			<section class="info">
				<ul class="info__list">
					<li class="info__item">MMLAMPADARI srl</li>
					<li class="info__item">Via Feltrina 00</li>
					<li class="info__item">31111 Pederobba (TV)</li>
					<li class="info__item">0423.123456</li>
					<li class="info__item">info@mmlampadari.mm</li>
					<li class="info__item">P.IVA 0412345678</li>
				</ul>
			</section>
			<section class="lorem">Lorem ipsum</section>
			<section class="social">
				<a href="#" class="social__link social__link_facebook"><i class="social__link_fa-icon fab fa-facebook-square"></i></a>
				<a href="#" class="social__link social__link_instagram"><i class="social__link_fa-icon fab fa-instagram"></i></a>
				<a href="#" class="social__link social__link_pinterest"><i class="social__link_fa-icon fab fa-pinterest-p"></i></a>
			</section>
			<section class="language">
				<ul class="language__list">
					<li class="language__item">
						<button class="language__toggle language__toggle_italian">ITA</button>
					</li>
					<li class="language__item">
						<button class="language__toggle language__toggle_english">ENG</button>
					</li>
					<li class="language__item">
						<button class="language__toggle language__toggle_deutsch">DEU</button>
					</li>
					<li class="language__item">
						<button class="language__toggle language__toggle_russian">PYC</button>
					</li>
				</ul>
			</section>
		</section>
	</div>
</footer>