<header class="main-header">
	<div class="main-header__container container">
		<a href="/" class="logo">
			<img src="img/lampadari_logo.png" alt="logo">
		</a>
		<button class="popup-toggle">Area Riservata<img class="popup-toggle__lock-icon" src="img/lock_icon.png" alt="lock icon"></button>
		<nav class="main-nav">
			<button class="hamburger" id="hamburger">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>
			<ul class="menu">	
				<li class="menu__item"><a class="menu__link" href="/index.html">Home</a></li>
				<li class="menu__item dropdown">
					<button class="menu__link dropdown__toggle">Azienda</button>
					<ul class="dropdown__menu">
						<li class="dropdown__item">
							<a href="#" class="menu__link dropdown__link">Storia</a>
						</li>
						<li class="dropdown__item">
							<a href="#" class="menu__link dropdown__link">MM Design</a>
						</li>
						<li class="dropdown__item">
							<a href="#" class="menu__link dropdown__link">Designer</a>
						</li>
						<li class="dropdown__item">
							<a href="#" class="menu__link dropdown__link">Certificazioni</a>
						</li>
					</ul>
				</li>
				<li class="menu__item"><a class="menu__link" href="#">Collezioni</a></li>
				<li class="menu__item"><a class="menu__link" href="#">News</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Contatti</a></li>	
			</ul>
		</nav>
	</div>
</header>