<footer class="main-footer">
	<div class="container">
		<section>
			<h6>Lacus interdum</h6>
				<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
			</ul>
		</section>
		<section>
			<h6>Lacus interdum</h6>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
			</ul>
		</section>
		<section>
			<h6>Lacus interdum</h6>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
			</ul>
		</section>
		<section>
			<h6>Lacus interdum</h6>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
			</ul>
		</section>
		<section>
			<h6>Lacus interdum</h6>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Suspendisse in neque</a></li>
				<li><a href="#">Praesent et eros</a></li>
			</ul>
		</section>
	</div>
	<div class="double-line"></div>
	<section class="copyright">
		<p>Copyright © 2013 Domain Name - All Rights Reserved</p>
		<p>Template by OS Templates</p>
	</section>
</footer>